@mixin MyDisplay($display, $align, $justify, $gap) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin MyFont( $weight, $color, $LS) {
  font-weight: $weight;
  color: $color;
  letter-spacing: $LS;  
}
