@import './modules/Before_navbar/before-navbar';
@import './modules/navbar/navbar';
@import './modules/hero/hero' ;
@import './modules/Mid/Mid';
@import './modules/Why-Us/whyUs';
@import './modules/Menu/menu';
@import './modules/specials/specials';
@import './modules/events/events';
@import './modules/forms/forms';
@import './modules/Gallery/gallery';