/*Imports for Costumizing and Bootstrap Components*/
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/*Costumizing my_Vars & my_Fts*/

/*Imports for basic SASS linking*/
@import "./AllVariables";
@import "./AllFunctions";
@import "AllModules";
