.carousel-inner {
  height: 100vh;
  
  .carousel-item {
    img {
      filter: brightness(50%);
    }
    
    .carousel-caption {
      top: 50%;
      transform: translateY(-45%);
      display: flex;
      flex-direction: column;
      align-items: center;
      
      h1 {
        padding-left: 5px;
        font-family: "Pacifico";
        font-size: 48px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        
        span {
          color: rgb(255, 176, 59);
        }
      }
      
      p {
        font-weight: 500;
      }
      
      .hero-links {
        display: flex;
        align-items: center;
        gap: 20px;
        
        a {
          text-decoration: none;
          color: white;
          background-color: inherit;
          border: rgb(255, 176, 59) 2px solid;
          padding: 8px 25px;
          border-radius: 20px;
          font-weight: 700;
          transition: 0.5s;
          
          &:hover {
            background-color: rgb(255, 176, 59);
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .carousel-inner {
    height: 70vh;
    
    .carousel-item {
      .carousel-caption {
        h1 {
          font-size: 36px;
          padding: 0 20px;
        }
        
        p {
          font-size: 14px;
          padding: 0 20px;
        }
        
        .hero-links {
          gap: 15px;
          
          a {
            padding: 7px 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .carousel{
    margin-top: 22.5vh;
  }
  .carousel-inner {
    height: 41vh;
    
    .carousel-item {
      .carousel-caption {
        bottom: -55px;
        h1 {
          font-size: 28px;
          padding: 0 15px;
        }
        
        p {
          font-size: 12px;
          padding: 0 15px;
          display: none;
        }
        
        .hero-links {
          flex-direction: column;
          gap: 10px;
          
          a {
            padding: 8px 30px;
            font-size: 13px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}