.carousel-inner {
  height: 100vh;
  .carousel-item {
    .carousel-caption {
      top: 50%;
      transform: translateY(-45%);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        padding-left: 5px;
        font-family: "Pacifico";
        font-size: 48px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        span{
            color: rgb(255, 176, 59);
        }
      }
      .hero-links{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            text-decoration: none;
            color: white;
            background-color: inherit;
            border: rgb(255, 176, 59) 2px solid;
            padding: 8px 25px;
            border-radius: 20px;
        }
      }
    }
  }
}
