.why-us {
  @include MyDisplay(flex, center, center, 10px);
  flex-direction: column;

  .top-why {
    @include MyDisplay(flex, center, center, 10px);
    flex-direction: column;
    padding-top: 70px;

    a {
      background-color: rgb(255, 247, 235);
      color: $my_yellow;
      text-decoration: none;
      padding: 7px 30px;
      font-size: 13px;
      font-weight: 600;
      border-radius: 20px;
      cursor: default;
    }

    h2 {
      @include MyFont(400, black, 1);
      font-family: "Pacifico";

      span {
        color: $my_yellow;
      }
    }
  }

  .bottom-why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 100px;
    column-gap: 15px;

    .lil-containers {
      @include MyDisplay(flex, flex-start, center, 5px);
      flex-direction: column;
      background-color: rgb(250, 250, 250);
      height: 300px;
      padding: 25px;
      transition: 0.3s;

      h2 {
        color: $my_yellow;
        transition: 0.5s;
      }

      &:hover h2 {
        color: white;
      }

      .para-container {
        @include MyFont(500, black, 1);
        font-family: "Pacifico";
        font-size: 24px;
        transition: 0.5s;
      }

      .random-para {
        color: rgb(90, 90, 90);
        transition: 0.5s;
      }

      &:hover {
        background-color: $my_yellow;
        padding-bottom: 50px;
      }

      &:hover .random-para,
      &:hover .para-container {
        color: white;
      }
    }
  }
}

@media (max-width: 769px) {
  .why-us {
    .top-why {
      padding-top: 50px;

      h2 {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .bottom-why {
      grid-template-columns: 1fr;
      padding: 20px 30px;
      row-gap: 15px;

      .lil-containers {
        height: auto;
        min-height: 250px;
        padding: 20px;

        .para-container {
          font-size: 20px;
        }

        .random-para {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .why-us {
    .top-why {
      padding-top: 40px;

      a {
        font-size: 12px;
        padding: 6px 25px;
      }

      h2 {
        font-size: 1.5rem;
        padding: 0 15px;
      }
    }

    .bottom-why {
      padding: 20px 15px;
      row-gap: 15px;

      .lil-containers {
        min-height: 220px;
        padding: 20px 15px;

        h2 {
          font-size: 2.5rem;
        }

        .para-container {
          font-size: 18px;
        }

        .random-para {
          font-size: 13px;
        }

        &:hover {
          padding-bottom: 30px;
        }
      }
    }
  }
}