.contact {
    @include MyDisplay(flex,center,none,20px);
    flex-direction: column;
    .contact-top {
        @include MyDisplay(flex, center, center, 20px);
        flex-direction: column;

        a {
            background-color: rgb(255, 247, 235);
            color: $my_yellow;
            text-decoration: none;
            padding: 7px 30px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 20px;
            cursor: default;
        }

        h2 {
            @include MyFont(400, black, 1);
            font-family: "Pacifico";

            span {
                color: $my_yellow;
            }
        }
    }

    .contact-mid {
        width: 100%;
        height: 400px;
        position: relative;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .contact-bottom {
        
    }

    @media (max-width: 768px) {
        .contact-mid {
            height: 400px;
        }
    }
}