.contact-top{
        @include MyDisplay(flex, center, center, 20px);
        flex-direction: column;

        a {
            background-color: rgb(255, 247, 235);
            color: $my_yellow;
            text-decoration: none;
            padding: 7px 30px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 20px;
            cursor: default;
        }

        h2 {
            @include MyFont(400, black, 1);
            font-family: "Pacifico";

            span {
                color: $my_yellow;
            }
        }
    }