* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  scroll-behavior: smooth;
}

.pre-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px 100px;

  .contact {
    display: flex;
    gap: 30px;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 15px;

      p {
        color: white;
        margin: 0;
        font-size: 14px;
      }

      i {
        color: rgb(255, 176, 59);
      }
    }
  }

  .booking {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(176, 176, 176);
    font-size: 14px;

    a {
      background-color: rgb(255, 176, 59);
      text-decoration: none;
      color: white;
      padding: 5px 35px;
      border-radius: 20px;
      transition: 0.5s;

      &:hover {
        background-color: rgb(200, 138, 45);
      }
    }
  }
}

@media (max-width: 769px) {
  .pre-nav {
    padding: 15px 30px;
    justify-content: end;
    background: $nav-bg;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);

    .contact {
      gap: 20px;

      div {
        gap: 10px;

        p {
          font-size: 12px;
        }

        i {
          font-size: 14px;
        }
      }
    }

    .booking a {
      padding: 5px 25px;
      font-size: 13px;
    }
  }
}

@media (max-width: 426px) {
  .pre-nav {
    padding: 10px 15px;
    height: auto;
    min-height: 35px;

    .contact {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      display: none;

      div {
        gap: 8px;

        p {
          font-size: 11px;
        }

        i {
          font-size: 12px;
        }
      }

      .time {
        display: none;
      }
    }

    .booking a {
      padding: 5px 20px;
      font-size: 12px;
    }
  }
}