nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $nav-bg;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  height: 80px;
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 40px;

  .logo h1 {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    padding-left: 70px;
    font-weight: 400;
    color: $white;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
      color: $white;
      font-size: 14px;
      transition: 0.3s;

      &:hover {
        color: $yellow;
      }

      &.home {
        color: $yellow !important;
      }
    }
  }

  .dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    i {
      color: $gray;
      font-size: 8px;
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 150px;
      display: flex;
      flex-direction: column;
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      z-index: 1000;

      a {
        padding: 10px 15px;
        color: $gray;
        font-size: 14px;
        transition: 0.3s;

        &:hover {
          background: $yellow;
          color: $white;
        }
      }
    }

    &:hover .dropdown-menu,
    &:focus-within .dropdown-menu {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  #menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0 20px;

    .links {
      position: fixed;
      top: 95px;
      right: 0;
      width: 250px;
      height: calc(100vh - 95px);
      background: $nav-bg;
      flex-direction: column;
      gap: 20px;
      padding-top: 40px;
      transform: translateX(100%);
      transition: 0.4s;
    }

    #menu-toggle:checked ~ .links {
      transform: translateX(0);
    }

    .menu-icon {
      display: block;
      font-size: 25px;
      color: $white;
      cursor: pointer;

      i:last-child {
        display: none;
      }
    }

    #menu-toggle:checked + .menu-icon {
      i:first-child {
        display: none;
      }
      i:last-child {
        display: inline-block;
      }
    }
  }
}
