nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.78);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  height: 60px;
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo h2 {
  border-left: 5px solid rgb(255, 176, 59);
  padding-left: 5px;
  color: rgb(66, 66, 66);
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 0.3s;
}

.links a:hover {
  color: rgb(255, 176, 59);
}

.home {
  color: rgb(255, 176, 59) !important;
}

#dropdown {
  display: flex;
  gap: 5px;
  align-items: center;
}

#dropdown i {
  color: rgb(84, 84, 84);
  font-size: 8px;
}

.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 999;
}

.dropdown-menu a {
  padding: 10px 15px;
  color: #545454;
  text-decoration: none;
  font-size: 14px;
  transition:
    background 0.3s,
    color 0.3s;
}

.dropdown-menu a:hover {
  background-color: rgb(255, 176, 59);
  color: white;
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container:focus-within .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#menu-toggle {
  display: none;
}
