.specials {
    padding-bottom: 80px;
    @include MyDisplay(flex, center, none, 30px);
    flex-direction: column;

    .top-specials {
        @include MyDisplay(flex, center, none, 15px);
        flex-direction: column;

        a {
            background-color: rgb(255, 247, 235);
            color: $my_yellow;
            text-decoration: none;
            padding: 7px 30px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 20px;
            cursor: default;
        }

        h2 {
            @include MyFont(400, black, 1);
            font-family: "Pacifico";

            span {
                color: $my_yellow;
            }
        }
    }

    .bottom-specials {
        @include MyDisplay(grid, none, center, 30px);
        grid-template-columns: 25% 1fr;
        padding-left: 80px;
        padding-right: 100px;
        grid-template-rows: 250px;

        .left-specials {
            @include MyDisplay(flex, start, center, 10px);
            padding-left: 80px;
            flex-direction: column;
            border-right: 2px solid rgb(219, 219, 219);

            .specials-rows {
                @include MyDisplay(flex, center, none, 15px);
                cursor: pointer;

                &:hover h4 {
                    color: $my_yellow;
                }
                h4 {
                    font-size: 17px;
                    transition: 0.5s
                }
            }
        }

        .right-specials {
            @include MyDisplay(flex, center, none, 30px);

            .text-left {
                @include MyDisplay(flex, start, center, 10px);
                flex-direction: column;

                h3 {
                    @include MyFont(100, black, 1);
                    font-family: "Pacifico";
                }
            }

        }
    }
}