.specials {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;

    input[type="radio"] {
        display: none;
    }

    .top-specials {
        text-align: center;
        margin-bottom: 40px;

        a {
        background-color: rgb(255, 247, 235);
      color: $my_yellow;
      text-decoration: none;
      padding: 7px 30px;
      font-size: 13px;
      font-weight: 600;
      border-radius: 20px;
      cursor: default;
        }

        h2 {
            @include MyFont(400, black, 1);
      font-family: "Pacifico";

            .yellow {
                color: $my_yellow;
            }
        }
    }

    .bottom-specials {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
    }

    .left-specials {
        display: flex;
        flex-direction: column;
        gap: 20px;

        label {
            cursor: pointer;
            transition: 0.3s;

            h4 {
                margin: 0;
                font-weight: 500;
            }

            &:hover h4 {
                color: $my_yellow;
            }
        }
    }
    .right-specials {
        display: none;

        img {
            width: 350px;
            margin-top: 20px;
        }
    }

    #spec1:checked~.bottom-specials .right-wrapper .spec1,
    #spec2:checked~.bottom-specials .right-wrapper .spec2,
    #spec3:checked~.bottom-specials .right-wrapper .spec3,
    #spec4:checked~.bottom-specials .right-wrapper .spec4,
    #spec5:checked~.bottom-specials .right-wrapper .spec5 {
        display: block;
    }
    #spec1:checked~.bottom-specials .left-specials label[for="spec1"] h4,
    #spec2:checked~.bottom-specials .left-specials label[for="spec2"] h4,
    #spec3:checked~.bottom-specials .left-specials label[for="spec3"] h4,
    #spec4:checked~.bottom-specials .left-specials label[for="spec4"] h4,
    #spec5:checked~.bottom-specials .left-specials label[for="spec5"] h4 {
        color: $my_yellow;
        font-weight: 700;
    }
}

@media (max-width: 426px) {
    .right-specials img {
        max-width: 100%;
    }
}

@media (max-width: 769px) {
    .right-specials img {
        max-width: 100%;
    }
}
