.form {
    @include MyDisplay(flex, none, none, 15px);
    flex-direction: column;

    .top-form {
        @include MyDisplay(flex, center, center, 10px);
        flex-direction: column;
        row-gap: 20px;
        padding-top: 50px;

        a {
            background-color: rgb(255, 247, 235);
            color: $my_yellow;
            text-decoration: none;
            padding: 7px 30px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 20px;
            cursor: default;
        }

        h2 {
            @include MyFont(400, black, 1);
            font-family: "Pacifico";

            span {
                color: $my_yellow;
            }
        }
    }

    .bottom-form {
        display: grid;
        grid-template-columns: 350px 1fr;
        padding-inline: 80px;
        height: 40vh;

        .left-form {
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        .right-form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(250, 250, 250);
            row-gap: 20px;
            padding-inline: 30px;
            .top-inputs , .mid-inputs{
                display: flex;
                gap: 20px;
                input{
                    width: 300px;
                    height: 50px;
                    padding-inline: 20px;
                }
            }
            .last-inputs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 20px;
                textarea{
                    width: 942px;
                    height: 120px;
                    padding: 10px 20px;
                }
                button{
                    padding: 12px 50px;
                    border: none;
                    color: $white;
                    background-color: $my_yellow;
                    border-radius: 5px;
                }
            }
        }
    }
}